<html>
    <head>
        <title>Reading List</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <link rel="stylesheet" type-"text/css" href="/stylesheets/app.css">
    </head>
    <body> 
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><a href="/"><i class="code icon"></i></a>Reading List</div>
        </div>
            <a href="/" class="item">Home</a>
            <a href="/books/new" class="item">New Book</a>
    </div>